NAME=database

HOST=local.solarbuildingenvelopes.com
HTTP_PORT=5050
HTTPS_PORT=5051

METABASE_HOST=local.buildingenvelopedata.org:4041

ACCESS_TOKEN=secret
OPEN_ID_CONNECT_CLIENT_SECRET=secret

CERTIFICATE_AUTHORITY_HOST=ca.org
CERTIFICATE_AUTHORITY_BASE_FILE_NAME=ca
CERTIFICATE_AUTHORITY_PASSWORD=ca-password
CERTIFICATE_AUTHORITY_SUBJECT=/C=DE/ST=BW/L=Freiburg/O=Fraunhofer Institute for Solar Energy

SSL_CERTIFICATE_BASE_FILE_NAME=database
SSL_CERTIFICATE_PASSWORD=password
SSL_CERTIFICATE_SUBJECT=/C=DE/ST=BW/L=Freiburg/O=Fraunhofer Institute for Solar Energy

SMTP_HOST=email
SMTP_PORT=25
